$Background: #17353a;
$ButtonColor: #def2f1;
$SideBar: #2b7a78;
$textColor: white;
$HeaderBgColor: #def2f1;
$hover: #17353a;
// Se
$SeBackground: #def2f1;
$SeButtonColo: #17353a;
$SeSideBar: #2b7a78;
$SeTextColor: white;
$SeHeaderBgColor: #17353a;
$SeHover: #17353a;
// Dark theme
$Bg-color: $Background; //background of page
$Border-color: $ButtonColor; //button
$Bg-card: $SideBar; //sidebar
$text-color: $textColor;
$header: $HeaderBgColor; //header
$list-hover: $hover;
$buttonTextColor: $hover;
$footer: $HeaderBgColor;
$footerTextColor: #17353a;

// Light color
// $Bg-color: $SeBackground; //background of page
// $Border-color: $SeButtonColo; //button
// $Bg-card: $SeSideBar; //sidebar
// $text-color: $SeTextColor;
// $header: $SeHeaderBgColor; //header
// $list-hover: $SeHover;
// $buttonTextColor: $SeHover;
