@use '../Sass/mixin.scss' as *;
@use '../Sass/Fixed' as *;
@use '../Sass/Colors' as *;
.navbar {
  background-color: $header;
  box-shadow: 0px 4px 6px rgba(104, 104, 104, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .container {
    display: flex;

    h3 {
      color: #17353a;
    }
  }
  @media (min-width: 992px) {
    .logo {
      img {
        height: 65px;
      }
    }
  }
  @media (max-width: 991px) {
    .logo {
      img {
        height: 50px;
      }
    }
  }
}
