@use '../Sass/mixin.scss' as *;
@use '../Sass/Fixed' as *;
.Video {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  position: relative;
  padding-bottom: 56.25%;

  overflow: hidden;
  height: 0;
  @include border;
  transition: $transition;
}
