@use '../Sass/Colors' as *;
@use '../Sass/Fixed' as *;
.Home {
  padding-top: $padding-T;
  padding-bottom: $padding-B;
  h1 {
    color: $text-color;
    text-align: center;
    padding-top: $padding-T;
    padding-bottom: $padding-B;
  }
  .Images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    place-items: center;
  }
}
